<% provide(:title, "About") %>
<main>
<h3>Skills Summary:</h3>

<section class="skill-section">
<h5>Development Skills:</h5>
  <ul>
    <li>Ruby / Rails</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>HTML / CSS</li>
    <li>bash</li>
    <li>Vi / Vim</li>
    <li>UNIX</li>
    <li>MySQL</li>
  </ul>
</section>


<section class="skill-section">
  <h5>Networking Skills:</h5>
  <ul>
    <li>TCP/IP</li>
    <li>Wireshark</li>
  </ul>
</section>

<section class="work-history">
  <h3 id="work-header">Employment History</h3>
  <h4>B2BGateway</h4> <span class="work-location">Wyoming, RI</span>
  <time datetime="2014-12-01 08:00">(December 2014</time> - <time datetime="2015-03-13 14:00">March 2015)</time><br />
  <span class="role-name">Junior Programmer</span><br />
  <ul class="role-duties">
    <li class="role-duty">Rewrote and spliced existing code base onto new document conversion setups, designed around pre-evaluated criteria from one or multiple partiew.
    <li class="role-duty">Adapted and conformed to internal coding standards through the observation of current conventions. </li>
    <li class="role-duty">Participated with programming team in improving current in-house software solutions, business flow practices, and workload management.</li>
  </ul>

  <h4>Rhode Island Turnpike and Bridge Authority</h4>
  <span class="work-location">Wyoming, RI</span>

  <time datetime="2013-06-05 09:00">(June 2013</time> - <time datetime="2013-08-31 17:00">August 2013)</time><br />
  <span class="role-name">Information Technology Intern</span><br />
  <ul class="role-duties">
    <li class="role-duty">Established internal company-wide ticketing solution to streamline IT troubleshooting through integration with multiple software as a solution (SaaS) services.</li>
    <li class="role-duty">Led the formation of an official Disaster Recovery Plan (DRP) draft through consultation with the CTO, CFO, and CEO, among other co-workers, including the selection and presentation of selected remote cloud storage service and total asset auditing.</li>
    <li class="role-duty">Aided EZ-Pass department through accumulation of backlogged customer data entries on internal database and assembly of transponder postage.</li>
  </ul>

  <h4>Technic Inc</h4>
  <span class="work-location">Woonsocket, RI</span>

  <time datetime="2010-06-01">(Summer 2010</time> - <time datetime="2012-08-31">August 2012)</time><br />
  <span class="role-name">Maintenance</span><br />
  <ul class="role-duties">
    <li class="role-duty">Assisted professional plumbing, electrical, and construction staff in the assembly of two product manufacturing lines and their surrounding structural environments.</li>
    <li class="role-duty">Promoted facility tidiness through safety-observant routine cleaning tasks and hazardous waste elimination.</li>
    <li class="role-duty">Repainted facility hallways, doors, and offices.</li>
  </ul>
</section>

</main>
