<% provide(:title, "Contact") %>
<h1>Contact</h1>
<address>
  Austin Schaefer<br/>
  Email: <a href="mailto:Schaefer.Austin.P@gmail.com">Schaefer.Austin.P@gmail.com</a><br/>
  Skype: syxhytex
  Github: SyxHyTex 
</address>
