<% provide(:title, 'Full-Stack Rails Developer') %>
<main>
  <h2>Software Engineer & Full-Stack Developer</h2>
  <h3>Open Source Oriented</h3>
  <nav id="main">
    <%= link_to 'Resume',  :about %>
    <%= link_to 'Contact', :contact %>
  </nav>
  <h4>About Me</h4>
  <p>Lorem ipsum etc.</p>
</main>
