<% provide(:title, "Projects") %>
<main>
<h1>Projects</h1>
<section class="projects">
<!--TODO: Integrate github projects. -->
Gerridae: A simple web crawler written in Ruby. May be possibly authored as a gem. 
</section>
</main>
