<footer class="footer">
  <address>
    <small>
      Copyright Austin Schaefer (c) 2015.
    </small>
  </address>
   <!-- address tag actually for author name and information-->
   <!-- TODO: Move hard URL links to views, replace text here with identifiers -->
 <ul>
   <li> <%= link_to "Github", "https://github.com/syxhytex" %> </li>
 </ul>
</footer>
