<header>
  <div class="container">  
    <%= link_to "Austin Schaefer", home_path, id: "name_logo"  %>
    <nav>
      <ul>
	<li><%= link_to "Projects", projects_path=%></li>
	<li><%= link_to "About", about_path =%></li>
	<li><%= link_to "Contact", contact_path=%></li>
      </ul>
    </nav>
  </div>
</header>

