<header>
  <div class="container">  
    <h1><%= link_to "Austin Schaefer", root_path, id: "name_logo" %></h1>
    <nav>
      <ul>
	<li><%= link_to "Projects", projects_path=%></li>
	<li><%= link_to "About", about_path =%></li>
	<li><%= link_to "Contact", contact_path=%></li>
      </ul>
    </nav>
  </div>
</header>

